        /* Základní mobilní menu */
        @media (max-width: 768px) {
            .mobile-menu ul {
                padding: 0;
            }

            .header-container {
                height: 100%;
            }

            .logo {
                display: flex;
                height: 50px;
                background-color: #e4cea1;
                align-items: flex-end;
                padding: 0 12px;
                z-index: 999;
                position: absolute;
                width: 100%;

                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .logo-text {
                display: block;
                font-family: 'Ohrada', Arial, sans-serif;
                color: #1a2764;
                text-decoration: none;
                line-height: 1;
                margin: 0;
                padding: 0;
                margin-left: 10px;
                font-size: 2.5rem;
                letter-spacing: 1.5px;
                transform: translateY(2px);
            }

            .logo-text:active {
                color: black;
            }


            .logo-text,
            .logo-text:link,
            .logo-text:visited,
            .logo-text:active {
                color: #1a2764;
            }

        }